.loader {
  margin: 0;
  min-height: 100vh;
  background-image: url("../../assets/—Pngtree—hand\ drawn\ fast\ food\ doodle_5280161.png");
  background-repeat: repeat;
  background-size: 500px;
  display: grid;
  place-items: center;
  color: bisque;

  &-brand {
    &__logo {
      font-size: 6rem;
      display: block;
      margin: auto;
    }
    &__name {
      font-size: 3rem;
      @media (max-width: 600px) {
        font-size: 2.5rem;
      }
    }
  }

  &__spinner {
    margin: auto;
    border: 10px solid hsl(0, 0%, 15%);
    border-left: 10px solid bisque;
    width: 70px;
    margin-top: 10px;
    border-radius: 50px;
    height: 70px;
    animation: spin 0.7s infinite linear;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
