.recipe-input {
  font-family: product-bold;
  margin-top: 20px;
  margin-bottom: 0;
  &__container {
    max-width: 1000px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
  }
  &__title {
    text-align: center;
    padding: 0.2em 0;
    font-weight: normal;
    margin-top: 0;
    text-transform: capitalize;
  }
  &__body {
    display: flex;
    gap: 20px;
  }
  &__recipe-fields {
    width: 100%;
    padding-top: 15px;
  }
  &__instruction-fields &__field-box {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__instruction-fields &__field-box + &__field-box {
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__instruction-fields &__btn-delete {
    position: absolute;
    right: 5px;
  }

  &__field-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__field-row {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
  }

  &__field-input {
    width: 100%;
    height: 42px;
    padding: 0.3em 0.8em;
    font-weight: normal;
    background-color: hsl(0, 0%, 17%);
    color: bisque;
    font-size: 1.05rem;
    border-radius: 5px;

    &::placeholder {
      color: hsl(0, 0%, 54%);
    }
    &-tex {
      width: 100%;
      height: unset;
      resize: none;
    }
  }

  &__footer {
    padding: 0.5em;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__btn {
    background-color: hsl(0, 0%, 13%);
    font-family: product-bold;
    color: bisque;
    font-size: 1rem;
    padding: 0.8em 1em;
    border-radius: 7px;
    border: none;
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
    }

    &--main {
      background-color: bisque;
      color: hsl(0, 0%, 13%);
    }
  }
  &__btn-delete {
    font-size: 1.8rem;
    background-color: inherit;
    border: none;
    padding: 0;

    background-color: hsl(0, 0%, 17%);

    &-icon {
      padding-top: 0.2em;
      color: hsl(0, 0%, 66%);
    }
    &:hover &-icon {
      cursor: pointer;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 800px) {
  .recipe-input {
    &__body {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .recipe-input {
    margin-bottom: 4rem;

    &__body {
      gap: 5px;
      height: 43vh;
      overflow: auto;
    }

    &__field-input {
      height: 50px;
    }

    &__footer {
      border-top: 1px solid bisque;
      background-color: hsl(0, 0%, 7%);
      border-bottom: none;
      flex-direction: column-reverse;
      gap: 20px;
      padding-top: 1em;
      padding-inline: 0;
    }
    &__btn-delete-icon {
      color: tomato;
    }
    .flex-center {
      gap: 20px;
    }

    .flex-center button {
      width: 50%;
    }
  }
}

@media (min-width: 600px) {
  .recipe-input {
    &__recipe-fields {
      max-height: 66.8vh;
    }

    &__instruction-fields {
      max-height: 25.7vh;
      overflow: auto;
    }
  }
}
