.recipe-card {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    border-radius: 10px;
    height: 20vw;
    object-fit: cover;
    object-position: center;
    background-color: hsl(0, 0%, 27%);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.95)
    );

    border-radius: 8.8px;
    display: flex;
    align-items: flex-end;
  }
  &__title {
    width: 100%;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    color: bisque;
    font-family: product-bold;
    font-size: 1.05rem;
    padding: 0 0.7em;
    margin-bottom: 1em;

    @media (min-width: 600px) {
      font-size: 1.2rem;

      &:hover &-overlay {
        display: block;
      }
    }

    &-overlay {
      display: none;

      position: absolute;
      bottom: 50px;
      left: 10px;
      background-color: hsl(0, 0%, 7%);

      font-size: 0.9rem;
      color: hsl(0, 0%, 70%);

      border-radius: 5px;
      padding: 0.5em;
    }
  }

  &__icon {
    position: absolute;
    z-index: 10;
    font-size: 1.8rem;
    top: 10px;
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: bisque;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
