.recipe-card {
  position: relative;
  margin-bottom: 35px;
  @media (max-width: 600px) {
    margin-bottom: 15px;
  }
  &__image {
    width: 100%;
    border-radius: 10px;
    @media (max-width: 800px) {
      height: 50vw;
      object-fit: cover;
      object-position: center;
    }
    @media (max-width: 600px) {
      height: 60vw;
    }
  }
  &:nth-child(even) &__image {
    height: 30vw;
    object-fit: cover;
    object-position: center;
    @media (max-width: 800px) {
      height: 50vw;
    }
    @media (max-width: 600px) {
      height: 60vw;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.95)
    );
    border-radius: 8.8px;
    display: flex;
    align-items: flex-end;
  }
  &__title {
    width: 100%;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    color: bisque;
    font-family: product-bold;
    font-size: 1.05rem;
    padding: 0 0.7em;
    margin-bottom: 1em;
  }

  &__icon {
    position: absolute;
    z-index: 10;
    font-size: 1.8rem;
    top: 10px;
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: bisque;
    right: 10px;
  }
}
