.template {
  &__heading {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0.8em 0.3em;
  }

  &-card__grid {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }
  & .recipe-card {
    margin-bottom: 0;
  }
  .recipe-card__image {
    height: 20vw;
    object-fit: cover;
    object-position: center;
  }

  .recipe-card:nth-child(even) .recipe-card__image {
    height: 20vw;
  }

  @media (max-width: 800px) {
    &-card__grid {
      grid-template-columns: repeat(3, minmax(140px, 1fr));
    }
    .recipe-card__image,
    .recipe-card:nth-child(even) .recipe-card__image {
      height: 40vw;
    }
  }
  @media (max-width: 600px) {
    &-card__grid {
      grid-template-columns: repeat(2, minmax(140px, 1fr));
      gap: 20px;
    }
    .recipe-card__image,
    .recipe-card:nth-child(even) .recipe-card__image {
      height: 60vw;
    }
  }
}
