.recipe-card__grid {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 35px;

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.recipe-card__grid {
  .recipe-card:hover {
    cursor: pointer;
  }
  .recipe-card img {
    height: 44.5vmin;

    @media (max-width: 600px) {
      height: 60vw;
    }
  }
}
