.navbar__navigation {
  width: 25%;
  @media (max-width: 800px) {
    background-color: hsl(0, 0%, 17%);
    width: 100%;
    margin-inline: auto;
    z-index: 101;
    position: fixed;
    bottom: 0;
  }

  &-links {
    display: flex;
    gap: 1rem;
    margin: 0.6em;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 800px) {
      font-size: 1.5rem;
    }

    @media (max-width: 600px) {
      justify-content: space-around;
    }
  }
  &-link {
    &__logo {
      @media (min-width: 600px) {
        display: none;
      }
    }

    &__name {
      white-space: nowrap;
      font-size: 1.2rem;
      text-transform: capitalize;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  & a {
    color: hsl(0, 0%, 52%);
  }
  & a.active {
    color: bisque;
  }
}
